@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body,html{
    margin: 0;
    font-family: "Sour Gummy", sans-serif;
    overflow-y: scroll; 
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: aliceblue;
}

.title{
    font-size: 40px;
    font-family: "Sour Gummy", sans-serif;
}

.noir{
    color: black;
}

/* bar de anvigation */
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 25px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 0;
    font-family: "Sour Gummy", sans-serif;

}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    font-weight: 400;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a{
    position: relative;
}
  
nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
nav ul li a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}
/* section presentation */
#presentation{
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 50px;
    background: linear-gradient(45deg, #FFAE9D, #FAF2EA, #B39188, #CCAEA4, #392E2C); 
    color: #fff; 
    font-family: 'Chakra Petch', sans-serif; 
    height: 70vh;
    justify-content: center;
    background-attachment: fixed;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Sour Gummy", sans-serif;
    color: #000000;
}
.information h2{
    font-weight: 200;
    font-size: 30px;
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
}
.information h1{
    font-weight:500;
    font-size: 50px;
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
}
.information p{
    width: 500px;
    margin: 0;
}
.contacter_moi{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 20px 45px 20px 45px;
    width: fit-content;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.contacter_moi:hover{
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    background-color: white;
    color: black;
}
              
                 
#presentation img{
    width: 600px;
    margin-left: auto;
}
/* section competance */
#allcompetence{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding:    50px 50px 50px 50px;
    -webkit-box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
    box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
    gap: 20px;
}
.competences{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.competence{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.competence img{
    width: 120px;
    height: 120px;
    margin: 0;
    object-fit: cover;
}
.competence p{
    text-align: center;
    width: 200px;
    margin: 0;
}
/* section realisation/project */
#realisations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background: linear-gradient(45deg, #FFAE9D, #FAF2EA, #B39188, #CCAEA4, #392E2C);
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    background-attachment: fixed;
}
.wrapcontener{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.project img:hover{
    transform: scale(1.1);
}
.project img{
    width: 390px;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s;
}

.project p{
    font-weight: 200;
}
/* section temoignages */
.info_client{
    width: fit-content;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(235, 230, 230);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.info >*{
    margin: 0;
}


.clientcollab{
    display: flex;
    flex-direction: row;
}
.clientcollab p{
    font-size: 15px;
}
.clientcollab h2{
    font-size: 15px;
}
.etoile{
    letter-spacing: 13px;
}
#contenertemoignages{
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
    box-shadow: -1px 4px 34px -10px rgba(0,0,0,1);
}
.toutlesavieclient{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
/* avatar */
.avatar{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
 }

/* fotter */
footer{
    padding: 30px;
    background: linear-gradient(45deg, #FFAE9D, #FAF2EA, #B39188, #CCAEA4, #392E2C);
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    background-attachment: fixed;
    gap: 10px;
}
.conatce{
    display: flex;
    align-items: flex-end;
}
.conatce a{
    margin-left: 50px;
}
.conatce p{
    width:600px;
    margin: 0;
}
.listecontacte{
    display: flex;
    gap: 20px;
    padding: 0;
}

.listecontacte li{
    list-style: none;
}
.listecontacte li img{
    width: 30px;
    height: 30px;
}


.fleche{
    width: 50px;
    height: 50px;
    transform: rotate(270deg);
    padding: 20px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    transition: all 0.5s;
}
.fleche:hover{
    filter: drop-shadow(0px 0px 10px grey);
}

.progress_bar{
    height:5px;
    position: fixed;
    top:0;
    left: 0;
    background-color: #392E2C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnnavbar{
    width: 50px;
    height: 50px;
    display:none;
}
@media only screen and (max-width:900px) {
    /* body */
    body{
        overflow-x: hidden;
    }
    /* nav */
    .btnnavbar{
        display: block;
        position: relative;
        z-index: 100;
    }
    .liste{
        position: absolute;
        top: -0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110vw;
        height: 100vh;
        margin-left: -220%;
        z-index: 0;
        backdrop-filter: blur(15px);
        transition: all 0.3s;
    }
     .mobile-menu{
        margin-left: -100vw;
        position: absolute;
     }
    /* section presentation */
    .imgPresentation{
        display: none;
    }
    .information{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    /* section competance */
    #allcompetence{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    /* section project */
    .wrapcontener{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    /* section avie client/colaborateur */
    .toutlesavieclient{
        flex-direction: row;
        gap: 20px;
        align-content: center;
        justify-content: center;
    }
    /* footer contact */
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .conatce{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:10px;
    }
    .conatce a{
        margin:0;
    }
}

